.aside-wrapper {
  position: fixed;
  top: 80px;
  left: 0;
  bottom: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 140px;
  gap: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  .aside-teams,
  .aside-players,
  .aside-sign_out {
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
  }

  .aside-teams svg,
  .aside-players svg,
  .aside-sign_out svg {
    fill: $Red;
    width: 100%;
    height: auto;
  }

  .aside-teams span,
  .aside-players span {
    color: $Light-grey;
    margin-top: 8px;
  }

  .aside-sign_out {
    margin-top: auto;
    color: $Red;
    svg {
      fill: $Red;
    }
    span {
      margin-top: 8px;
    }
  }
}
