.PlayersPage {
  display: flex;
  flex-direction: column;
  height: 100%;

  &_input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &_search {
      display: flex;
      flex-direction: row;
      gap: 15px;
    }
  }

  &_content {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    .PlayersPage_empty {
      min-width: 1300px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &_footer {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .link {
    color: inherit;
    text-decoration: none;
  }
}

@media (max-width: 1215px) {
  .PlayersPage {
    &_content {
      grid-template-columns: repeat(2, 1fr);
    }
    &_input-wide {
      width: 100%;
    }
  }
}

@media (max-width: 770px) {
  .PlayersPage {
    display: flex;
    flex-direction: column;
    height: 100%;
    &_input {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      &_search {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .PlayersPage_input-wide {
          width: 100% !important;
        }
      }
    }
  }
}
