.Pagination-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .Pagination-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .Pagination-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      color: $Grey;
      border: none;
      transition: 0.2s;
      user-select: none;
      cursor: pointer;
      &:hover {
        color: $Red;
      }
      &.active {
        color: $White;
        background-color: $Red;
      }
    }
  }
}
