.itemCard {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(121.57deg, $Grey 1.62%, $Dark-grey 81.02%);
  aspect-ratio: 1;
  width: 100%;
  &-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  &-image-container {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &-image {
    max-width: 200px;
    max-height: 200px;
  }
  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 8px;
    padding: 20px 20px;
    background-color: $Dark-grey;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 600;
    font-size: 16px;

    &_title {
      color: $White;
      font-size: 18px;
    }
    &_subtitle {
      color: $Light-grey;
    }
    .itemCard-info_number {
      color: $Light-red;
    }
  }
  &-info_number {
    color: $White;
    font-size: 18px;
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
.itemCard{
  &-image {
    max-width: 50px;
    max-height: 100px;
  }
  &-info {
    padding: 5px 10px;
  }
}
}
