.custom-select-container {
  width: 88px;
  height: 40px;
  .custom-select {
    &__control {
      background-color: $Lightest-grey-second;
    }
    &__menu {
      color: $Light-grey;
    }
    &__option {
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        color: $White;
        background-color: $Lightest-red;
      }
      &:active {
        color: $White;
        background-color: $Dark-red;
      }
      &--is-selected {
        background-color: $Dark-red;
        color: $White;
      }
  }
}
}