.ui-link {
  font-size: 14px;
  line-height: 20px;
  color: $Red;
  transition: 0.1s;
  font-weight: 500;
  text-decoration: none;
  }

.disabled {
  color: $Lightest-grey;
}

.underline {
  text-decoration: underline;
}
