$Dark-grey: #303030;
$Grey: #707070;
$Light-grey: #9c9c9c;
$Lightest-grey: #d1d1d1;
$Lightest-grey-second: #f6f6f6;
$Dark-red: #c60e2e;
$Red: #e4163a;
$Light-red: #ff5761;
$Lightest-red: #ff768e;
$Blue: #344472;
